<body style="background-image: url('/body.png'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
  <div class="otp-modal">
    <button class="close-btn" (click)="goToLogin()">✕</button>

    <div class="timer-wrapper">
      <svg class="progress-ring" width="180" height="180">
        <circle class="bg" cx="90" cy="90" r="65"></circle>
        <circle 
          class="progress" 
          cx="90" 
          cy="90" 
          r="65"
          [style.stroke]="strokeColor"
          [style.stroke-dashoffset]="progressOffset">
        </circle>
      </svg>
      <div id="timer">{{ timerText }}</div>
    </div>

    <div *ngIf="expired" style="text-align: center; margin-bottom: 30px;">
      <p style="color: #ff4d4d; font-size: 16px; font-weight: 600; margin: 0 0 5px 0;">
        لم يعد الرمز صالحًا<span style="color: #000">,</span> <span style="color: #000; font-size: 18px; font-weight: 700; cursor: pointer;" (click)="resend()">أعيدوا المحاولة</span>
      </p>
    </div>

    <div *ngIf="!expired">
      <div class="otp-inputs">
        <div class="otp-box-wrapper" *ngFor="let o of otp; let i = index; trackBy: trackByIndex">
          <input 
            #otpInput
            type="text" 
            maxlength="1" 
            inputmode="numeric"
            pattern="[0-9]"
            [class.filled]="isFilled(i)"
            (input)="onInput($event, i)"
            (keydown)="onKeyDown($event, i)"
            (paste)="onPaste($event, i)"
            (focus)="onDigitFocus($event)">
        </div>
      </div>

      <button class="submit-btn" (click)="submit()" [disabled]="isLoading">
          تسجيل الدخول
      </button>

      <div *ngIf="errorMessage" style="color: #ff6b6b; margin-top: 15px; font-size: 14px;">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</body>